@model EventScape.Core.Repository.ViewModels.EditUserViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.ProfilePic)
        </dt>
        <dd class = "col-sm-10">
          <img src="@Model.User.ProfilePic" alt="no profile pic"/>
        </dd>
      
    </dl>   
      
                <hr class="my-4">

                <h4 class="mb-3">Roles</h4>

                <div class="my-3">
                   
        
                    @for (int i = 0; i < @Model.Roles.Count(); i++)
                    {
                         
                        <div class="form-check">
                            @Html.CheckBoxFor(c => @Model.Roles[i].Selected)
                            @Html.HiddenFor(h => @Model.Roles[i].Value)
                            
                            @Html.LabelFor(l => @Model.Roles[i].Selected, @Model.Roles[i].Text, new {@class="form-check-label"})
                            @Html.HiddenFor(h => @Model.Roles[i].Text)
                        </div>
                    }
                     
                </div>
                
                 
    <form asp-action="Delete">        
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

