@model EventScape.ViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


 
<table class="table">
    <thead>
        <tr>
            <th>
              EventName
            </th>
            <th>
               No of Tickets
            </th>
            <th>
               Total price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CartItems) {
        <tr id="row-@item.WishListId">
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Price)
            </td>
            <td id="item.count-@item.WishListId">
                @Html.DisplayFor(modelItem => item.Tickets)
            </td>
            <td>
                
                <a asp-action="Delete" asp-route-id="@item.WishListId">Delete</a>
            </td>
        </tr>
}
 }
    <tr>
        <td>
            Total
        </td>
        <td>
        </td>
        <td>
        </td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
    </tbody>
</table>
