@model IEnumerable<EventScape.Models.BookingDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Booked Events </h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No_Of_Tickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr itemscope="row" class="table-secondary" >
            <td>
                @Html.DisplayFor(modelItem => item.Booking.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No_Of_Tickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Price)
            </td>
            <td>
               
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
