@model IEnumerable<EventScape.Models.Events>
@{
    ViewData["Title"] = "UpcomingEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
  <section class="py-2 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Upcoming Events</h1>
        <p class="lead text-muted"></p>
        <p>
            <form asp-action="UpcomingEvents" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value=" Search by Location:" class="btn btn-primar my-2" /> |
            <a asp-action="UpcomingEvents" class="btn btn-light">Back to Full List</a>
        </p>
    </div>
</form>
           
        </p>
      </div>
    </div>
  </section>

  <div class="album bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         @foreach (var item in Model)
         {
            var ImagePath = "~/Image/" + (item.EventPosterName?? "noimage.png");      
            <div class="" >
               <div class="card shadow-sm Moviecard">
                   <div class="card"  >
                      <img src="@ImagePath" class="card-img-top" height="250"   alt=""  asp-append-version="true">
                      <div class="card-body"  >
                        <h4 class="card-title text-right icon"><i class="material-icons" data-toggle="modal" data-target="#flipflop">@Html.DisplayFor(modelItem => item.EventName)</h4>
                        <p class="card-text "  style="  height: 100px;  overflow: auto;"> @item.Description </p>
                         <small class="text-muted p-1">@item.MaxCapacity</small>
                         <small class="text-muted p-1">$@item.Price</small>
                          <small class="text-muted p-1">@item.Location</small>
                      </div>
                      <div class="card-footer"> <a  asp-action="UserEventDetails" asp-route-eventId="@item.ID" class="btn btn-primary">View </a></div>                      
                    </div>                  
               </div>             
             </div>
         } 
      </div>
      
    </div>
  </div>
  <div class="card">
      <div class="card-block">
        <h4 class="card-title text-right icon"><i class="material-icons" 
            data-toggle="modal" data-target="#flipflop">settings</i></h4>
         <img src="/Image/event1.jpg" class="card-img-top" height="250"   alt=""  asp-append-version="true">
        <h4 class="card-title mt-2">Card 2</h4>
        <p class="card-text">Hello Card 2, Nice to see you</p>       
      </div>
    </div>
</main>
