@model IEnumerable<EventScape.Models.Events>
@{
    ViewData["Title"] = "UpcomingEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
 

  <div class="container">
    <header class="d-flex flex-wrap justify-content-start py-2 mb-4 border-bottom">
      

      <ul class="nav nav-pills">
        <li class="nav-item">  
            <a  asp-area="" asp-controller="Events" asp-action="UpcomingEvents" class=" rounded-pill nav-link active" aria-current="page">Happenings</a></li>  
             <li class="nav-item">  
            <a  asp-area="" asp-controller="Events" asp-action="UpcomingEvents" class=" rounded-pill nav-link " aria-current="page">Coming Soon</a></li>  
            <li> <form asp-action="UpcomingEvents" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value=" Search by Location:" class="btn btn-primar my-2" /> |
            <a asp-action="UpcomingEvents" class="btn btn-light">Back to Full List</a>
        </p>
    </div>
</form></li>
      </ul>
    </header>
  </div>
  <div class="album bg-light">
    <div class="container">
      <div>
         @foreach (var item in Model)
         {
            var ImagePath = "~/Image/" + (item.EventPosterName?? "noimage.png");      
              @*  <div class="col">
                   <div class="card rounded shadow-sm"   >
                      <img src="@ImagePath" class="card-img-top" width="100%" height="225"   alt=""  asp-append-version="true">
                      <div class="card-body">
                        <h4 class="card-title text-right">@Html.DisplayFor(modelItem => item.EventName)</h4>
                       @* <p class="card-text "  style="  height: 100px;  overflow: auto;"> @item.Description </p>
                        *@ @*<div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted p-1">@item.MaxCapacity</small>
                         <small class="text-muted p-1">$@item.Price</small>
                          <small class="text-muted p-1">@item.Location</small>
                          </div>
                      </div>
                    
                      <div class="card-footer"> <a  asp-action="UserEventDetails" asp-route-eventId="@item.ID" class="btn btn-primary">View </a></div>                      
                   </div> 
                   </div>*@
            <div class="movie_card" id="bright">
                  <div class="info_section">
                        
                        <div class="movie_header p-2">
                             <table>
                          <tr class="p-2">
                         <td class="col-4 p-2 "> 
                             <div class=""> 
                             <img class="locandina" src="@ImagePath"  asp-append-version="true"/>
                         </div></td>
                         <td class="col-10 p-2">
                         <div class="">
                             <h1>@Html.DisplayFor(modelItem => item.EventName)</h1></div>
                              
                             <h4>@item.Location</h4>
                          <span class="minutes">@item.MaxCapacity</span> <p class="type">Seats available</p>
                          </td>
                           </tr>
                      </table>
                        </div>
                         <div class="movie_desc">
                             <p class="text">   @item.Description  </p>
                             <a asp-action="UserEventDetails" asp-route-eventId="@item.ID" 
                             class="btn btn-primary rounded-pill"> Click to view </a>
                         </div>
                     <div class="movie_social">
                      <ul>                          
                        <li><i class="bi bi-alarm-fill"></i>@item.ShowStartDate</li>
                        <li> <i class="bi bi-currency-dollar"></i> @item.Price</li>  
                         
                      </ul>

                      </div>
                     </div>
                     <div asp-append-version="true" class="blur_back"      >
                      <img src="@ImagePath" class="card-img-top"   alt=""  asp-append-version="true">
                    </div>
                    </div>
                    
         } 
      </div>
      
    </div>
  </div>
 

</main>
