@*@model EventScape.ViewModels.EventsViewModel*@
@model EventScape.Models.WishList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
     var ImagePath = "~/Image/" + (@Model.Event.EventPosterName?? "noimage.png");
}

<h1>Details</h1>

        <form method="post">

            <div class="row">
                <div class="col-4">
                   <img src="@ImagePath"  class="rounded float-left img-fluid img-thumbnail"
                   asp-append-version="true"  >    
                   <input type="hidden" asp-for="EventId"/>
                </div>
                <div class="col-8">
                    <div class="row">
                        <label asp-for="Event.EventName" class="" ><strong>Event Name</strong> : @Model.Event.EventName</label>
                        <label asp-for="Event.Description"><strong> Event Description</strong> : @Model.Event.Description</label>
                  <label asp-for="Event.ShowStartDate" class="control-label"><strong>Show date</strong> : @Model.Event.ShowStartDate</label>
                  <label asp-for="Event.Location" class="control-label"><strong>Location</strong> : @Model.Event.Location</label>   
                  <label asp-for="Event.Price">Price per Ticket : @Model.Event.Price </label>
                   <label asp-for="Event.MaxCapacity">Total seats : @Model.Event.MaxCapacity</label>
                   <div class="form-control border-0" >
                       <label asp-for="Tickets">No of Tickets :</label> 
                       <input asp-for="Tickets" class="form-control" />
                       <span asp-validation-for="Tickets" class="text-danger"></span>
                    </div>
                    <div class="form-control border-0">
                        <button class="btn btn-success" asp-action="UpcomingEvents"  asp-controller="Events">Back To List</button>
                   <button type="submit" class="btn btn-dark">Add to Cart</button>
                    </div>
                    </div>
                </div>

            </div>
      
        </form>
        
