@model  EventScape.ViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             
            <th>
               Event Name
            </th>
            <th>
              show Date
            </th>
            <th>
               No of Tickets
            </th>
             <th>
             Price
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CartItems) {
        <tr>
                         
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tickets)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Event.Price)*@Html.DisplayFor(modelItem => item.Tickets)
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WishListId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WishListId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WishListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
